body {    
    margin: 0 !important;
    padding: 0 !important;
    padding-top: 100px !important;
}



.item {
    width: 200px;
    height: 50px;
    margin-top: 40px;
    color: darkblue;
    font-family: 'Courier New', Courier, monospace   
}

.tagger {
    flex: 1;
    margin-left: 20px;
}

.header-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background-color: whitesmoke;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: none;
    margin: none;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.move-button {
    cursor: pointer;
    width: 50px;
    height: 50px;
    background-color: whitesmoke;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    background-position: center;
    background-repeat: no-repeat;
}

.move-button:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  }

#left {
    position: absolute;
    bottom: 100px;
    right: 155px;
    background-image: url('../img/left.png');
}
#right {
    position: absolute;
    bottom: 100px;
    right: 45px;
    background-image: url('../img/right.png');
}
#up {
    position: absolute;
    bottom: 155px;
    right: 100px;
    background-image: url('../img/up.png');
}
#down {
    position: absolute;
    bottom: 45px;
    right: 100px;
    background-image: url('../img/down.png');
}
