<html>
<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>
<link rel="stylesheet" type="text/css" href="../css/style.css">
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.dev.js"></script>
<script type="text/javascript" src="../js/config.js"></script>
<script type="text/javascript" src="../js/viewport.js"></script>
<script type="text/javascript" src="../js/mock-api.js"></script>
<script type="text/javascript" src="../js/api.js"></script>
<script type="text/javascript" src="../js/game.js"></script>
<script type="text/javascript" src="../js/player.js"></script>
<script type="text/javascript" src="../js/avatar.js"></script>
<script type="text/javascript" src="../js/toetsenbord.js"></script>

<head>
  <title>Ninja tag!</title>
</head>

<body>
  <div class="header"></div>
  <div class="header-overlay">
    <div class="item tagger">
      Huidige kleur
      <div id="color"></div>
    </div>
    <div class="item tagger" id="tagger">
      Tikker: onbekend
    </div>
    <span class="item" id="name">
      Gebruikersnaam: onbekend
    </span>
  </div>
  <div id="drawing"></div>
</body>

</html>
<script>
  let api = new API();
  let game = new Game(api);
  let avatar = create_avatar(api);
  let toetsenbord = new Toetsenbord();
  setInterval(function () { game.update() }, 10);
</script>
<script type="text/javascript" src="../js/ninja.js"></script>
